*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body{
  background-color: black;
  color: white;
}

.card{
  height: 100px;
  width: 100px;
  border: 3px solid ;
  border-radius: 10px;
}